[Desktop Entry]
Name=Green Feathers
X-KDE-PluginInfo-Name=GreenFeathers
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-License=GPLv3
