[Desktop Entry]
Name=Dimensions
X-KDE-PluginInfo-Name=Dimensions
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-License=GPLv3
